@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400;700&display=swap');

/* Definimos la fuente y color del nombre del autor */
.author {
    font-family: 'Kode Mono', monospace;
    font-size: larger;
    font-weight: 900;
    color: #340752;
}