/* Core Ionic CSS Styles */
@import "@ionic/react/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/react/css/normalize.css";
@import "@ionic/react/css/structure.css";
@import "@ionic/react/css/typography.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/react/css/padding.css";
@import "@ionic/react/css/float-elements.css";
@import "@ionic/react/css/text-alignment.css";
@import "@ionic/react/css/text-transformation.css";
@import "@ionic/react/css/flex-utils.css";
@import "@ionic/react/css/display.css";

/* Importamos la hoja de estilos */
@import "./variables.css";

:root {
    /* Definiciones de colores personalizadas */
    --ion-color-violeta-oscuro: #340752;
    --ion-color-violeta-oscuro-contrast: #ffffff;
  
    /* Aplicar el color violeta oscuro a botones primarios */
    --ion-color-primary: var(--ion-color-violeta-oscuro);
    --ion-color-primary-contrast: var(--ion-color-violeta-oscuro-contrast);
  
    /* Aplicar el color violeta oscuro a headers */
    --ion-toolbar-background: var(--ion-color-violeta-oscuro);
    --ion-toolbar-color: var(--ion-color-violeta-oscuro-contrast);
  }